_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
Gemfile.lock
node_modules/
*.gem
*.rbc
.rbenv-version
.rvmrc
capybara-*.html
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

#custom files
#notes.txt

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
.env

# Backup files
*.backup
