<nav class="nds-main-nav" id="ndsMainNav">
    <div class="nds-nav-container nds-content-container">
        <a href="{{ '/' | relative_url }}" class="nds-brand">
            <img src="{{ site.brandLogo | relative_url }}" width="{{ site.headerBrandW }}" height="{{ site.headerBrandH }}" alt="{{ site.title }}">
        </a>
        <ul class="nds-nav-minimal">
            <li class="nds-mainNav-toggler nds-nav-item" data-toggle="navbar">
                <span class="nds-nav-link nds-btn nds-btn-subtle nds-btn-indicator">
                    <i class="hgi hgi-stroke hgi-menu-01 icon"></i>
                </span>
            </li>
        </ul>

        <div class="nds-collapse" id="ndsNavCollapse">
            <ul class="nds-nav-primary scrollH">
                <li class="nds-nav-item">
                    <a href="{{ '/' | relative_url }}" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-indicator"><span class="label">Item 1</span></a>
                </li>
                <li class="nds-nav-item nds-dropdown">
                    <a href="#" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-menu nds-btn-indicator" data-toggle="dropdown"><span class="label">Item 2</span></a>
                    <div class="nds-dropdown-menu">
                        <div class="nds-content-container nds-dropdown-columns nds-grid">
                            <div class="nds-column">
                                <div class="nds-dropdown-title">Category A</div>
                                <div class="nds-list">
                                    <a href="#">Sub Item A1</a>
                                    <a href="#">Sub Item A2</a>
                                    <a href="#">Sub Item A3</a>
                                    <a href="#">Sub Item A4</a>
                                    <a href="#">Sub Item A5</a>
                                </div>
                            </div>
                            <div class="nds-column">
                                <div class="nds-dropdown-title">Locations</div>
                                <div class="nds-list nds-multi-column-list">
                                    <a href="#">Riyadh</a>
                                    <a href="#">Jeddah</a>
                                    <a href="#">Mecca</a>
                                    <a href="#">Medina</a>
                                    <a href="#">Dammam</a>
                                    <a href="#">Abha</a>
                                    <a href="#">Tabuk</a>
                                    <a href="#">Jazan</a>
                                    <a href="#">Hail</a>
                                    <a href="#">Najran</a>
                                    <a href="#">Jouf</a>
                                    <a href="#">Yanbu</a>
                                    <a href="#">Taif</a>
                                    <a href="#">Qassim</a>
                                    <a href="#">Ahsa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nds-nav-item nds-dropdown">
                    <a href="#" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-menu nds-btn-indicator" data-toggle="dropdown"><span class="label">Item 3</span></a>
                    <div class="nds-dropdown-menu">
                        <div class="nds-content-container nds-dropdown-columns nds-rowList">
                            <div class="nds-list">
                                <a href="{{ '/about' | relative_url }}">Sub Item 3.1</a>
                                <a href="#">Sub Item 3.2</a>
                                <a href="#">Sub Item 3.3</a>
                                <a href="#">Sub Item 3.4</a>
                                <a href="#">Sub Item 3.5</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nds-nav-item">
                    <a href="{{ '/services' | relative_url }}" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-indicator"><span class="label">Item 4</span></a>
                </li>
                <li class="nds-nav-item">
                    <a href="{{ '/contact' | relative_url }}" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-indicator"><span class="label">Item 5</span></a>
                </li>
                <li class="nds-nav-item showMore">
                    <a href="#" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-indicator" title="Show More">
                        <i class="hgi hgi-stroke hgi-arrow-down-01 toggleArrow icon"></i>
                    </a>
                </li>
            </ul>

            <ul class="nds-nav-secondary">
                <li class="nds-nav-item CTA">
                    <a href="https://design.dga.gov.sa/guidelines" class="nds-nav-link nds-btn nds-btn-primary nds-btn-indicator" title="Guidelines">
                        <span class="label">Guidelines</span>
                    </a>
                </li>
                <li class="nds-nav-item nds-dropdown iconOnly search">
                    <button class="nds-nav-link nds-btn nds-btn-subtle nds-btn-menu nds-btn-indicator" data-toggle="dropdown" title="Search">
                        <i class="hgi hgi-stroke hgi-search-01 icon"></i>
                        <span class="label">Search</span>
                    </button>
                    <div class="nds-dropdown-menu">
                        <div class="nds-content-container">
                            <div class="nds-search-box">
                                <div class="nds-search-content">
                                    <div class="nds-form-control">
                                        <i class="hgi hgi-stroke hgi-search-01 icon"></i>
                                        <input id="mainSearch" type="text" class="nds-search-input" name="search" placeholder="Search...">
                                        <div class="nds-form-action">
                                            <button class="voiceInput"><i class="hgi hgi-stroke hgi-mic-01 icon"></i></button>
                                            <button class="clear hidden"><i class="hgi hgi-stroke hgi-cancel-01 icon"></i></button>
                                        </div>
                                    </div>
                                    <button class="nds-btn nds-btn-primary">Search</button>
                                </div>
                                <span class="nds-dropdown-title">Suggestions</span>
                                <div class="nds-tags nds-autoFill" data-target="mainSearch">
                                    <button class="nds-tag"><i class="hgi hgi-stroke hgi-rounded hgi-plus-sign"></i>Tag 1</button>
                                    <button class="nds-tag"><i class="hgi hgi-stroke hgi-rounded hgi-plus-sign"></i>Tag 2</button>
                                    <button class="nds-tag"><i class="hgi hgi-stroke hgi-rounded hgi-plus-sign"></i>Tag 3</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nds-nav-item iconOnly lang PABx">
                    <button class="nds-nav-link nds-btn nds-btn-subtle nds-btn-indicator" id="langToggleBtn" title="Toggle Language">
                        <i class="hgi hgi-stroke hgi-translation icon"></i>
                        <span class="label nds-lang-current" id="currentLangLabel">
                            English
                        </span>
                    </button>
                </li>
                <li class="nds-nav-item nds-dropdown iconOnly login">
                    <a href="#" class="nds-nav-link nds-btn nds-btn-subtle nds-btn-menu nds-btn-indicator" data-toggle="dropdown" title="Login">
                        <i class="hgi hgi-stroke hgi-user icon"></i>
                        <span class="label">Login</span>
                    </a>
                    <div class="nds-dropdown-menu widthFit">
                        <div class="nds-column">
                            <a href="#" class="nds-dropdown-item">Login</a>
                            <a href="#" class="nds-dropdown-item">Create Account</a>
                            <a href="#" class="nds-dropdown-item">Forgot Password?</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>