<div class="nds-content-wrapper">
    <div class="nds-form-container nds-search-box">
        <div class="nds-search-content">
            <div class="nds-form-control">
                <i class="hgi hgi-stroke hgi-search-01 nds-icon"></i>
                <input id="mainSearch" type="text" class="nds-search-input"
                    name="search" placeholder="Search...">
                <div class="nds-form-action">
                    <button class="nds-btn nds-subtle nds-clear" hidden>
                        <i class="hgi hgi-stroke hgi-cancel-01 nds-icon"></i>
                    </button>
                    <button class="nds-btn nds-subtle nds-voice-input">
                        <i class="hgi hgi-stroke hgi-mic-01 nds-icon"></i>
                    </button>
                </div>
            </div>
            <button class="nds-btn nds-primary">
                <span class="nds-label">Search</span>
            </button>
        </div>

        <div class="nds-auto-fill" data-target="mainSearch">
            <span class="nds-label">Suggestions:</span>
            <div class="nds-chips">
                <button class="nds-chip nds-neutral nds-rounded nds-item">
                    <i class="hgi hgi-stroke hgi-rounded hgi-plus-sign"></i>
                    <span class="nds-label">Tag 1</span>
                </button>
                <button class="nds-chip nds-neutral nds-rounded nds-item">
                    <i class="hgi hgi-stroke hgi-rounded hgi-plus-sign"></i>
                    <span class="nds-label">Tag 2</span>
                </button>
                <button class="nds-chip nds-neutral nds-rounded nds-item">
                    <i class="hgi hgi-stroke hgi-rounded hgi-plus-sign"></i>
                    <span class="nds-label">Tag 3</span>
                </button>
            </div>
        </div>
    </div>
</div>
