<div class="nds-column">
    <div class="nds-persona nds-sm">
        <div class="nds-persona-info">
            <span class="nds-persona-name">Ahmed Mohammed</span>
            <span class="nds-persona-role nds-truncate">System Administrator</span>
            <span class="nds-persona-desc">ahmed@example.gov.sa</span>
        </div>
        <hr class="nds-divider">
        <div class="nds-persona-action">
            <a href="#" class="nds-btn nds-subtle nds-dropdown-item">
                <i class="nds-icon nds-hgi-identity-card" aria-hidden="true"></i>
                <span class="nds-label">Portal</span>
            </a>
            <a href="#" class="nds-btn nds-subtle nds-dropdown-item">
                <i class="nds-icon nds-hgi-lock-password" aria-hidden="true"></i>
                <span class="nds-label">Change Password</span>
            </a>
            <a href="#" class="nds-btn nds-subtle nds-dropdown-item">
                <i class="nds-icon nds-hgi-smart-phone-01" aria-hidden="true"></i>
                <span class="nds-label">Change Number</span>
            </a>
            <a href="#" class="nds-btn nds-subtle nds-destructive nds-dropdown-item" id="logoutBtn">
                <i class="nds-icon nds-hgi-door-01" aria-hidden="true"></i>
                <span class="nds-label">Logout</span>
            </a>
        </div>
    </div>
</div>
