<div class="nds-content-wrapper">
    <form class="nds-form-container nds-search-box" role="search" method="get"
        action="{{ '/examples/search-results.html' | relative_url }}">
        <div class="nds-search-content">
            <div class="nds-form-control">
                <i class="nds-icon nds-hgi-search-01" aria-hidden="true"></i>
                <input id="mainSearch" type="text" class="nds-search-input"
                    name="q" placeholder="Search...">
                <div class="nds-form-action">
                    <button type="button" class="nds-btn nds-subtle nds-clear" hidden>
                        <i class="nds-icon nds-hgi-cancel-01" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="nds-btn nds-subtle nds-voice-input">
                        <i class="nds-icon nds-hgi-mic-01" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <button type="submit" class="nds-btn nds-primary nds-search-btn">
                <span class="nds-label">Search</span>
            </button>
        </div>

        <div class="nds-auto-fill" data-target="mainSearch">
            <span class="nds-label">Suggestions:</span>
            <div class="nds-chips">
                <button type="button" class="nds-chip nds-neutral nds-rounded nds-item">
                    <i class="nds-icon nds-hgi-plus-sign" aria-hidden="true"></i>
                    <span class="nds-label">Tag 1</span>
                </button>
                <button type="button" class="nds-chip nds-neutral nds-rounded nds-item">
                    <i class="nds-icon nds-hgi-plus-sign" aria-hidden="true"></i>
                    <span class="nds-label">Tag 2</span>
                </button>
                <button type="button" class="nds-chip nds-neutral nds-rounded nds-item">
                    <i class="nds-icon nds-hgi-plus-sign" aria-hidden="true"></i>
                    <span class="nds-label">Tag 3</span>
                </button>
            </div>
        </div>
    </form>
</div>
