<div class="nds-column">
    <div class="nds-user-card">
        <div class="nds-user-info">
            <span class="nds-user-name">Ahmed Mohammed</span>
            <span class="nds-user-role nds-truncate">System Administrator</span>
            <span class="nds-user-email">ahmed@example.gov.sa</span>
        </div>
        <hr class="nds-divider">
        <div class="nds-user-action">
            <a href="#" class="nds-btn nds-subtle nds-dropdown-item">
                <i class="hgi hgi-stroke hgi-identity-card icon"></i>
                <span class="label">Portal</span>
            </a>
            <a href="#" class="nds-btn nds-subtle nds-dropdown-item">
                <i class="hgi hgi-stroke hgi-lock-password icon"></i>
                <span class="label">Change Password</span>
            </a>
            <a href="#" class="nds-btn nds-subtle nds-dropdown-item">
                <i class="hgi hgi-stroke hgi-smart-phone-01 icon"></i>
                <span class="label">Change Number</span>
            </a>
            <a href="#" class="nds-btn nds-subtle nds-destructive nds-dropdown-item" id="logoutBtn">
                <i class="hgi hgi-stroke hgi-door-01 icon"></i>
                <span class="label">Logout</span>
            </a>
        </div>
    </div>
</div>
