<aside class="nds-sidemenu" aria-label="Sidebar">
    <button id="nds-sidemenu-toggle" class="nds-sidemenu-toggle nds-btn nds-peek" aria-label="Sidebar Menu" hidden>
        <i class="hgi hgi-stroke hgi-menu-02 nds-icon"></i>
        <span class="nds-label nds-truncate" hidden>Side menu</span>
    </button>
    <nav class="nds-drawer nds-divided nds-full-height" hidden>
        {%- assign sidemenu_data_file = page.sidemenu | default: site.sidemenu | default: "sidemenu" -%}
        {%- assign sidemenu_items = site.data.sidemenu[sidemenu_data_file] -%}
        <div class="nds-drawer-scroll">
            <ul class="nds-drawer-list">
                {%- for item in sidemenu_items %}
                {%- if item.has_sub %}
                <li>
                    <button class="nds-btn nds-subtle nds-menu-btn nds-indicator" aria-expanded="false">
                        <span class="nds-label">{{ item.label }}</span>
                    </button>
                    <ul>
                        {%- for child in item.children %}
                        <li{%- if page.url == child.href %} data-state="active"{%- endif %}>
                            <a class="nds-btn nds-subtle nds-indicator"
                                href="{{ child.href | relative_url }}">
                                <span class="nds-label">{{ child.label }}</span>
                            </a>
                        </li>
                        {%- endfor %}
                    </ul>
                </li>
                {%- else %}
                <li{%- if page.url == item.href %} data-state="active"{%- endif %}>
                    <a class="nds-btn nds-subtle nds-indicator"
                        href="{{ item.href | relative_url }}">
                        <span class="nds-label">{{ item.label }}</span>
                    </a>
                </li>
                {%- endif %}
                {%- endfor %}
            </ul>
        </div>
        <button class="nds-show-more nds-btn nds-subtle">
            <i class="hgi hgi-stroke hgi-arrow-down-01"></i>
        </button>
    </nav>
</aside>
