<aside class="nds-sideMenu" aria-label="Sidebar">
    <button id="sideMenuToggle" class="sideMenuToggle" aria-label="Sidebar Menu"></button>
    <nav>
        <ul class="topLevel">
            {% for item in site.data.sidemenu %}
                {% if item.has_sub %}
                    <!-- Check if any child is active -->
                    {% assign has_active_child = false %}
                    {% for child in item.children %}
                        {% if page.url == child.href %}
                            {% assign has_active_child = true %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    
                    <li class="has-sub{% if has_active_child %} open{% endif %}">
                        <a class="nds-btn nds-btn-subtle nds-btn-menu nds-btn-indicator" href="#" aria-haspopup="true" aria-expanded="{{ has_active_child }}"><span class="label">{{ item.label }}</span></a>
                        <ul>
                            {% for child in item.children %}
                                <li{% if page.url == child.href %} class="active"{% endif %}><a class="nds-btn {% if page.url == child.href %}nds-btn-transparent{% else %}nds-btn-subtle{% endif %}" href="{{ child.href | relative_url }}"><span class="label">{{ child.label }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li{% if page.url == item.href %} class="active"{% endif %}><a class="nds-btn {% if page.url == item.href %}nds-btn-transparent{% else %}nds-btn-subtle{% endif %} nds-btn-indicator" href="{{ item.href | relative_url }}"><span class="label">{{ item.label }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</aside>