<div class="nds-topbar nds-content-grid" role="region" aria-label="Top bar utilities">
    <div class="nds-topbar-content">
        <button class="nds-btn nds-menu-btn nds-topbar-info nds-digitalStamp-tab" role="button" aria-expanded="false"
            aria-controls="nds-digitalStamp">
            <img class="flag" src="{{ 'assets/icon/SAflag.min.svg' | relative_url }}" width="20" height="14"
                loading="lazy" alt="Logo of Saudi Arabia Flag">
            <span class="nds-digitalStamp-lg-text nds-truncate" id="big-screen-text">A government website registered with the
                Digital Government
                Authority.</span>
            <span class="nds-digitalStamp-sm-text nds-truncate" id="small-screen-text">Government website registered with DGA</span>
            <span id="nds-digitalStamp-verify-text" class="nds-link nds-primary">How you know?</span>
        </button>
        <div class="nds-topbar-info">
            
            <span id="nds-date" class="nds-text-icon" data-calendar="hijri"></span>
            <span id="nds-realTimeClock" class="nds-text-icon"></span>
            <span id="nds-cityName" class="nds-text-icon"></span>
            <span id="nds-weatherInfo" class="nds-text-icon" data-latitude="{{ site.city_latitude | default: '24.7136' }}"
                data-longitude="{{ site.city_longitude | default: '46.6753' }}"></span>
                
        </div>
    </div>
</div>
<div id="nds-digitalStamp" role="region" aria-label="Digital government stamp">
    <div class="dga-content nds-content-grid">
        <div class="nds-digitalStamp-notices nds-grid">
            <!-- gov Links Notice -->
            <div class="nds-digitalStamp-card col-sm-12 col-lg-6">
                <div class="nds-digitalStamp-icon">
                    <i class="hgi hgi-stroke hgi-link-04 icon"></i>
                </div>
                <div class="nds-digitalStamp-content">
                    <div class="nds-digitalStamp-heading" id="domain-title">
                        روابط المواقع الالكترونية الرسمية السعودية تنتهي بـ <span
                            class="nds-digitalStamp-highlight">gov.sa</span>
                    </div>
                    <div class="nds-digitalStamp-description" id="domain-desc">
                        جميع روابط المواقع الرسمية التابعة للجهات الحكومية في المملكة العربية السعودية تنتهي بـ .gov.sa
                    </div>
                </div>
            </div>
            <!-- HTTPS Security Notice -->
            <div class="nds-digitalStamp-card col-sm-12 col-lg-6">
                <div class="nds-digitalStamp-icon">
                    <i class="hgi hgi-stroke hgi-square-lock-01 icon"></i>
                </div>
                <div class="nds-digitalStamp-content">
                    <div class="nds-digitalStamp-heading" id="https-title">
                        المواقع الالكترونية الحكومية تستخدم بروتوكول <span
                            class="nds-digitalStamp-highlight">HTTPS</span>
                        للتشفير و الأمان.
                    </div>
                    <div class="nds-digitalStamp-description" id="https-desc">
                        المواقع الالكترونية الآمنة في المملكة العربية السعودية تستخدم بروتوكول HTTPS للتشفير.
                    </div>
                </div>
            </div>
            <div class="nds-digitalStamp-register col-12">
                <img src="{{ 'assets/img/dga-logo-icon.svg' | relative_url }}" width="21" height="31"
                    alt="هيئة الحكومة الرقمية" loading="lazy">
                <div>
                    <span id="register-text">
                    مسجل لدى هيئة الحكومة الرقمية برقم:
                    </span>
                    <a class="nds-digitalStamp-registration nds-primary nds-underline"
                    href="{{ page.dga_registration_url | default: site.dga_registration_url }}" target="_blank">{{
                    page.dga_registration_number | default: site.dga_registration_number }}</a>
                </div>
                
            </div>
        </div>
    </div>
</div>