<section id="user-feedback" class="nds-user-feedback-section nds-content-section">
    <div class="nds-section-content">
        <form class="nds-form" action="/submit" method="POST">
            <div class="nds-user-feedback" >
                <div class="nds-user-feedback-overview">
                    <span class="nds-user-feedback-question">Was this page useful?</span>
                    <span class="nds-user-feedback-status" hidden>
                        <!-- Feedback message will be dynamically created by NDS.Feedback API -->
                    </span>
                    <div class="nds-user-feedback-answer-btn ">
                        <button type="button" class="nds-btn nds-primary nds-md" data-answer="Yes" aria-label="Yes">
                            <span class="label">Yes</span>
                        </button>
                        <button type="button" class="nds-btn nds-primary nds-md" data-answer="No" aria-label="No">
                            <span class="label">No</span>
                        </button>
                    </div>
                    <span class="nds-user-feedback-statistic">60% of users said Yes from 2843 Feedbacks</span>
                    <button type="button" class="nds-user-feedback-close nds-btn nds-secondary-outline nds-md"
                        aria-label="Close feedback" hidden>
                        <span class="label">Close</span>
                        <i class="hgi hgi-stroke hgi-cancel-01 icon"></i>
                    </button>
                </div>
                <div class="nds-user-feedback-details" hidden>
                    <div class="nds-user-feedback-options">
                        <fieldset class="nds-form-group nds-check-group why-yes" data-min-checked="2">
                            <legend>
                                <span class="label">Please tell us why</span>
                                <span class="note">(you can select multiple options)</span>
                            </legend>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-yes-relevant">
                                        <span class="label">Content is relevant</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-yes-relevant" name="why-yes"
                                        value="relevant" class="nds-check">
                                </div>

                            </div>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-yes-written">
                                        <span class="label">It was well written</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-yes-written" name="why-yes"
                                        value="well-written" class="nds-check primary">
                                </div>
                            </div>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-yes-layout">
                                        <span class="label">The layout made it easy to read</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-yes-layout" name="why-yes"
                                        value="easy-layout" class="nds-check">
                                </div>
                            </div>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-yes-other">
                                        <span class="label">Something else</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-yes-other" name="why-yes" value="other"
                                        class="nds-check">
                                </div>
                            </div>
                            <div class="nds-form-footer" data-feedback-target hidden></div>
                        </fieldset>
                        <fieldset class="nds-form-group nds-check-group why-no" data-required>
                            <legend>
                                <span class="label">Please tell us why</span>
                                <span class="note">(you can select multiple options)</span>
                            </legend>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-no-irrelevant">
                                        <span class="label">Content is not relevant</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-no-irrelevant" name="why-no"
                                        value="not-relevant" class="nds-check">
                                </div>
                            </div>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-no-inaccurate">
                                        <span class="label">Content is not accurate</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-no-inaccurate" name="why-no"
                                        value="not-accurate" class="nds-check primary">
                                </div>
                            </div>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-no-long">
                                        <span class="label">Content is too long</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-no-long" name="why-no" value="too-long"
                                        class="nds-check">
                                </div>
                            </div>
                            <div class="nds-form-container nds-check-container">
                                <div class="nds-form-header">
                                    <label for="feedback-no-other">
                                        <span class="label">Something else</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="checkbox" id="feedback-no-other" name="why-no" value="other"
                                        class="nds-check">
                                </div>
                            </div>
                            <div class="nds-form-footer" data-feedback-target hidden></div>
                        </fieldset>
                        <fieldset class="nds-form-group nds-radio-group rowView gender" data-required>
                            <legend class="label">I'm</legend>
                            <div class="nds-form-container nds-radio-container">
                                <div class="nds-form-header">
                                    <label for="feedback-gender-male">
                                        <span class="label">Male</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="radio" id="feedback-gender-male" name="gender" value="male"
                                        class="nds-radio">
                                </div>
                            </div>
                            <div class="nds-form-container nds-radio-container">
                                <div class="nds-form-header">
                                    <label for="feedback-gender-female">
                                        <span class="label">Female</span>
                                    </label>
                                </div>
                                <div class="nds-form-control">
                                    <input type="radio" id="feedback-gender-female" name="gender" value="female"
                                        class="nds-radio">
                                </div>
                            </div>
                            <div class="nds-form-footer" data-feedback-target hidden></div>
                        </fieldset>
                    </div>
                    <div class="nds-user-feedback-comment">
                        <div class="nds-form-container nds-textarea">
                            <div class="nds-form-header">
                                <label for="feedback-comment">
                                    <span class="label">Feedback</span>
                                </label>
                            </div>
                            <div class="nds-form-control">
                                <textarea id="feedback-comment" name="comment" class="nds-textarea"
                                    placeholder="Enter your message..." rows="4"></textarea>
                            </div>
                            <div class="nds-form-footer" data-feedback-target hidden></div>
                        </div>
                    </div>
                </div>
                <div class="nds-user-feedback-submit" hidden>
                    <span class="nds-user-feedback-agreement">For more information you may review <a
                            href="#">e-participation statement</a> and <a href="#">rules of
                            engagement.</a></span>

                    <button class="nds-user-feedback-submit-btn nds-btn nds-primary" data-answer="submit"
                        aria-label="Submit">
                        <span class="label">Submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
