/* ── Grid system ── */
@use './mixins' as *;

.nds-grid {
  $col-selector: '> :is([class^="col-"], [class*=" col-"])';
  --_gap-min: var(--spacing-md);
  --grid-col: var(--max-col, auto-fit);

  &:not([hidden]) {
    display: grid !important;
    grid-template-columns: repeat(var(--grid-col, 12), minmax(var(--col-width, 0px), 1fr));
  }

  gap: var(--gap, var(--spacing-2xl));
  row-gap: var(--row-gap, var(--spacing-2xl));
  justify-items: var(--justify, stretch);
  align-items: var(--align, start);
  width: 100%;

  >* {
    max-width: 100% !important;
    min-width: 0;
    height: 100%;
  }

  &:not(:has(#{$col-selector})) {
    @include tablet(max) {
      --grid-col: var(--mid-col, var(--max-col, auto-fit));
      gap: max(var(--_gap-min), calc(var(--gap, var(--spacing-2xl)) / 2));
      row-gap: max(var(--_gap-min), calc(var(--row-gap, var(--spacing-2xl)) / 2));
    }

    @include mobile {
      --grid-col: var(--min-col, var(--mid-col, var(--max-col, auto-fit)));
    }
  }

  &:has(#{$col-selector}) {
    --col-width: 0 !important;
    --grid-col: 12;
  }

  &.nds-center {
    --justify: center;
  }
}

/* ── Column spans ── */

@for $i from 1 through 12 {
  :is(.col-#{$i}, .col-sm-#{$i}) {
    grid-column: span #{$i};
  }
}

:is(.col-full, .col-sm-full) {
  grid-column: 1 / -1;
}

@each $breakpoint, $width in $grid-breakpoints {
  @media (min-width: #{$width}) {
    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        grid-column: span #{$i};
      }
    }

    .col-#{$breakpoint}-full {
      grid-column: 1 / -1;
    }
  }
}