@use '../mixins' as *;

/* ========================================
   DGA DROPDOWN STYLES
   ======================================== */
#dgaVerify-text {
    color: var(--colors-primary-sa-flag-700);
    font-weight: 600;
    line-height: normal;
}

.nds-topbar .dga-tab {
    z-index: 10;
    cursor: pointer;
    font-size: var(--nds-text-clamp-sm-FS);
    line-height: var(--nds-text-clamp-sm-LH);
    font-weight: 400;
    padding-inline: 0;
    gap: var(--spacing-xs);
}

.nds-topbar .dga-tab {
    .flag {
        width: 20px;
        margin-inline-end: 4px;
    }

}

@include desktop(min) {
    .nds-topbar .dga-tab>.smallScreenText {
        display: none!important;
    }
}

@include tablet(max) {
    .nds-topbar .dga-tab>.bigScreenText {
        display: none!important;
    }

}


#dgaDigitalStamp {
    display: none;
    background-color: var(--background-white);
    position: relative;
    box-shadow: var(--shadow-md);
    z-index: 1051;
    transition: grid-template-rows var(--nds-transition);
    grid-template-rows: 0fr;
    overflow: clip;

    &[data-state~="open"] {
        display: grid;
        grid-template-rows: 1fr;
    }

    &[data-state~="opening"],
    &[data-state~="closing"] {
        grid-template-rows: 0fr;
    }

    >* {
        grid-row: 1 / span 2;
    }


}

.saudi-security-notices-container {
    margin: var(--spacing-4xl) auto;
    display: flex;
    gap: var(--spacing-xl);
    flex-wrap: wrap;
}

.saudi-gov-security-card {
    background-color: var(--background-neutral-100);
    border-radius: var(--radius-md);
    padding: var(--spacing-2xl);
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-xl);
    border: 1px solid var(--border-background-neutral);
    transition: transform var(--nds-transition), box-shadow var(--nds-transition);
}

.saudi-gov-security-register {
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-neutral-100);
    border-radius: var(--radius-md);
    padding: var(--spacing-xl) var(--spacing-2xl);
    border: 1px solid var(--border-background-neutral);
    line-height: 24px;
    text-align: center;
    display: flex;
    gap: var(--spacing-sm);
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
}

.saudi-gov-security-register>img {
    height: 25px;
}

.saudi-security-icon-wrapper {
    position: relative;
    border: 1px solid var(--border-primary);
    border-radius: 50%;
    width: var(--spacing-6xl);
    height: var(--spacing-6xl);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include tablet(max) {
        width: var(--spacing-5xl);
        height: var(--spacing-5xl);
        font-size: 1.2rem;
    }

}

.saudi-security-icon-wrapper>.icon {
    color: var(--text-primary);
}

.saudi-notice-content-block {
    flex: 1;
}

.saudi-notice-primary-heading {
    font-size: var(--nds-text-clamp-lg-FS);
    line-height: var(--nds-text-clamp-lg-LH);
    font-weight: 600;
    color: var(--text-default);
    margin-bottom: var(--spacing-md);
}

.saudi-notice-description-text {
    color: var(--text-default);
    line-height: 1.5;
}

@include mobile {
    .nds-topbar .dga-tab {
        width: 100%;
    }

    .saudi-security-notices-container {
        margin: var(--spacing-xl) auto;
        flex-direction: column;
        gap: var(--spacing-lg);
    }

    .saudi-gov-security-card {
        text-align: center;
        padding: var(--spacing-xl);
        gap: var(--spacing-lg);
    }

    .saudi-notice-primary-heading {
        font-size: 16px;
        line-height: normal;
    }

    .saudi-notice-description-text {
        font-size: 13px;
    }

}

.saudi-domain-highlight-text {
    color: var(--background-primary);
    font-weight: bold;
}


.registration-number {
    color: var(--text-primary);
    text-decoration: none;
}

.registration-number:hover {
    text-decoration: underline;
}

/*Hero Section*/

.nds-hero-section img {
    pointer-events: none
}