@use '../mixins' as *;

.nds-form-container {
    display: flex;
    gap: var(--spacing-md);
    flex-direction: column;
    width: 100%;

    .nds-form-header {

        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }

        .label {
            color: var(--field-text-label);
            font-size: var(--nds-text-md-FS);
            line-height: var(--nds-text-md-LH);
            font-weight: 500;
            cursor: pointer;
        }

        .info {
            color: var(--text-primary-paragraph);
            font-size: var(--nds-text-sm-FS);
            line-height: var(--nds-text-sm-LH);
        }

        .error {
            display: flex;
            align-items: center;
            font-size: var(--nds-text-sm-FS);
            line-height: var(--nds-text-sm-LH);
            font-weight: 500;
            gap: var(--icon-text-gap);
            color: var(--controls-control-text-error);

            i {
                color: var(--icon-error);
                width: var(--spacing-4);
                height: var(--spacing-4);
                font-size: var(--spacing-4);
                line-height: var(--spacing-4);
            }
        }
    }

    &.nds-radio-container,
    &.nds-check-container,
    &.nds-switch-container {
        --nds-input-size: 20px;
        display: flex;
        gap: var(--spacing-lg);
        flex-direction: row-reverse;
        width: fit-content;
        flex-wrap: nowrap;
        min-width: 200px;
        justify-content: flex-end;

        &>.nds-form-header .label {
            color: var(--text-display);
            font-size: var(--nds-text-md-FS);
            line-height: var(--nds-input-size);
            font-weight: 500;
            height: var(--nds-input-size);

        }



        &.nds-lg * {
            --nds-input-size: 24px;
        }

        &.nds-sm * {
            --nds-input-size: 16px;
        }

        &.nds-lg {

            gap: var(--spacing-xl);

        }

        &.nds-sm {
            gap: var(--spacing-md);

        }



    }

}

fieldset {
    border: 0;

    &>.label {
        margin-bottom: var(--spacing-lg);
        font-weight: 500;
    }
}

.nds-radio-group,
.nds-check-group {
    row-gap: var(--spacing-xl);
    column-gap: var(--spacing-6xl);
    display: flex;
    flex-direction: column;

    &.rowView {
        flex-direction: row;
    }


}

.nds-form-control {
    display: flex;
    min-height: 40px;
    height: 40px;
    width: 100%;
    min-width: 200px;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-none) var(--spacing-md);
    border-radius: var(--radius-sm);
    gap: var(--spacing-md);
    border: 1px solid var(--form-field-border-default);
    background-color: var(--form-field-background-default);
    position: relative;


    &>input,
    textarea,
    select {
        font-size: 1rem;
        outline: unset !important;
        outline-offset: unset !important;
        box-shadow: unset !important;
    }

    &:hover {
        border-color: var(--form-field-border-hovered);

        &,
        ::-webkit-input-placeholder {
            color: var(--form-field-text-hovered);
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 0%;
        height: 2px;
        border-radius: 0 0 3px 3px;
        transform: translateX(-50%);
        background-color: var(--form-field-border-pressed);
        transition: width var(--nds-transition);
        z-index: 2;
    }

    &.focus {
        &::before {
            width: 100%;
        }

        box-shadow: var(--shadow-md);

        &,
        ::-webkit-input-placeholder {
            color: var(--form-field-text-focused);
        }


    }

    &.active {

        &::before {
            width: 50%;
        }

        background-color: var(--form-field-background-darker);
        box-shadow: var(--shadow-md);

        &,
        ::-webkit-input-placeholder {
            color: var(--form-field-text-pressed);
        }
    }



    &.disabled {
        background-color: var(--background-disabled) !important;
        color: var(--text-default-disabled) !important;
        border-color: var(--border-disabled) !important;
        pointer-events: none;
        user-select: none;

        ::-webkit-input-placeholder {
            color: var(--text-default-disabled) !important;
        }

        .nds-form-action {
            display: none;
        }
    }


    >input {
        background-color: transparent;
        border: 0px;
        outline: 0px;
        height: 100%;
        width: 100%;
        outline: unset !important;
        outline-offset: unset !important;
        box-shadow: unset !important;

        &:focus {
            color: var(--form-field-text-focused);
        }
    }

    .nds-textarea>& {
        padding: var(--form-textarea-padding);
        height: fit-content;
        width: 100%;

        >textarea {
            padding: var(--spacing-md);
            min-height: 40px;
            min-width: 100%;
        }
    }

    .nds-select>& {

        >select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }

        body.hgi-loaded &::after {
            opacity: 1;
        }

        &::after {
            content: "㭚";
            pointer-events: none;
            font-family: "hgi-stroke-rounded" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            left: var(--spacing-md);
            opacity: 0;
            transition: opacity var(--nds-transition), transform 0.1s ease;
            display: inline-flex;
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            justify-content: center;
            align-content: center;
            align-items: center;

            @include ltr {
                & {
                    left: unset;
                    right: var(--spacing-md);
                }
            }
        }


    }

    .nds-select>&.open::after {
        transform: rotate(180deg);
    }

    // Custom dropdown styles for nds-select when using input instead of select element
    .nds-select-input {
        cursor: pointer;
    }

    .nds-select-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        margin-top: 4px;
        padding: var(--spacing-xs, 4px);
        background-color: var(--background-white, #fff);
        border: 1px solid var(--colors-neutral-300, #d2d6db);
        border-radius: var(--radius-md, 8px);
        box-shadow: var(--shadow-md);
        max-height: 200px;
        overflow-y: auto;

        &.hidden {
            display: none;
        }

        .select-options {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
        }
    }


    ::-webkit-input-placeholder {
        color: var(--form-field-text-placeholder);
    }

    .nds-form-action {
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: row-reverse;
        margin-left: calc(var(--spacing-md) * -1);

        &.before {
            margin-left: unset;
            margin-right: calc(var(--spacing-md) * -1);
        }

        @include ltr {
            margin-left: unset;
            margin-right: calc(var(--spacing-md) * -1);

            &.before {
                margin-right: unset;
                margin-left: calc(var(--spacing-md) * -1);
            }
        }

        >* {
            --nds-height: 38px;
            position: relative;
            width: var(--nds-height);
            height: var(--nds-height);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-default, #161616);

            &:not(:first-child, .hidden)::before {
                content: '';
                width: 1px;
                background-color: var(--border-neutral-primary);
                height: calc(100% - var(--spacing-lg));
                position: absolute;
                left: calc(var(--spacing-xs) * -1);
                top: 50%;
                transform: translateY(-50%);

                @include ltr {
                    left: unset;
                    right: calc(var(--spacing-xs) * -1);
                }
            }
        }
    }

    .nds-form-action {
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: row-reverse;
        margin-left: calc(var(--spacing-md) * -1);

        @include ltr {
            margin-left: unset;
            margin-right: calc(var(--spacing-md) * -1);
        }

        >* {
            --nds-height: 38px;
            position: relative;
            width: var(--nds-height);
            height: var(--nds-height);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-default, #161616);

            &:not(:first-child, .hidden)::before {
                content: '';
                width: 1px;
                background-color: var(--border-neutral-primary);
                height: calc(100% - var(--spacing-lg));
                position: absolute;
                left: calc(var(--spacing-xs) * -1);
                top: 50%;
                transform: translateY(-50%);

                @include ltr {
                    left: unset;
                    right: calc(var(--spacing-xs) * -1);
                }
            }
        }
    }

    .nds-radio-container &,
    .nds-check-container &,
    .nds-switch-container & {

        min-width: unset;
        min-height: unset;
        width: fit-content;
        height: fit-content;
        padding: 0;
        border: 0;
        border-radius: var(--radius-sm);
        box-shadow: unset;
        background-color: unset !important;

        &.focused:focus-visible {
            outline: 2px solid var(--colors-base-black) !important;
            outline-offset: -2px !important;
            box-shadow: inset 0 0 0 3px var(--colors-base-white) !important;
        }
    }

    .nds-check-container & {
        border-radius: var(--radius-xs);
    }

    .nds-radio-container &::before,
    .nds-check-container &::before,
    .nds-switch-container &::before {
        display: none;
    }


    & input[type="radio"],
    & input[type="checkbox"] {
        width: var(--nds-input-size);
        height: var(--nds-input-size);
        z-index: 2;
        appearance: none;
        border-radius: 50%;
        position: relative;

        &:not(:disabled) {
            cursor: pointer;
        }

        &:not(:disabled)::before {
            content: '';
            position: absolute;
            width: var(--nds-input-size);
            height: var(--nds-input-size);
            bottom: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, 50%);
            background-color: var(--controls-control-ripple-effect);
            transition: width var(--nds-transition), height var(--nds-transition);
            z-index: -1;
            pointer-events: none;
            user-select: none;
        }

        &:not(:disabled):hover::before {
            width: calc(var(--nds-input-size)*2);
            height: calc(var(--nds-input-size)*2);
        }


        &::after {
            content: "";
            border-radius: 50%;
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--colors-base-white);
            color: var(--colors-base-white) !important;
            border: 1px solid transparent;
            box-shadow: 0 0 0 1px var(--controls-control-border, #6C737F);
            z-index: 1;
        }

        &:checked::after {
            border: 4px solid var(--colors-base-white);
        }

        .nds-sm &:checked::after {
            border: 3px solid var(--colors-base-white);
        }

        .nds-lg &:checked::after {
            border: 5px solid var(--colors-base-white);
        }

        &:checked::after {
            background-color: var(--controls-control-neutral-checked);
            color: var(--controls-control-neutral-checked);
            box-shadow: 0 0 0 1px var(--controls-control-neutral-checked);
            border-color: var(--colors-base-white);
        }


        &:checked:hover::after {
            background-color: var(--controls-control-neutral-hovered);
            color: var(--controls-control-neutral-hovered);
            box-shadow: 0 0 0 1px var(--controls-control-neutral-hovered);
            border-color: var(--colors-base-white);
        }


        &:checked:active::after {
            background-color: var(--controls-control-neutral-pressed);
            color: var(--controls-control-neutral-pressed);
            box-shadow: 0 0 0 1px var(--controls-control-neutral-pressed);
            border-color: var(--colors-base-white);
        }


        &:not(:checked):active::after {
            background-color: var(--controls-control-pressed, #D2D6DB);
            color: var(--controls-control-pressed, #D2D6DB);
        }

        &.primary {


            &:checked::after {
                background-color: var(--controls-control-primary-checked);
                color: var(--controls-control-primary-checked);
                box-shadow: 0 0 0 1px var(--controls-control-primary-checked);
                border-color: var(--colors-base-white);
            }


            &:checked:hover::after {
                background-color: var(--controls-control-primary-hovered);
                color: var(--controls-control-primary-hovered);
                box-shadow: 0 0 0 1px var(--controls-control-primary-hovered);
                border-color: var(--colors-base-white);
            }


            &:checked:active::after {
                background-color: var(--controls-control-primary-pressed);
                color: var(--controls-control-primary-pressed);
                box-shadow: 0 0 0 1px var(--controls-control-primary-pressed);
                border-color: var(--colors-base-white);
            }

        }

        &:checked:disabled::after {
            background-color: var(--background-disabled) !important;
            color: var(--control-disabled) !important;
            box-shadow: 0 0 0 1px var(--background-disabled) !important;
        }

        &:not(:checked):disabled::after {
            background-color: var(--colors-base-white) !important;
            box-shadow: 0 0 0 1px var(--background-disabled) !important;
        }
    }

    & input[type="checkbox"] {
        border-radius: var(--radius-xs);

        &::after {
            border-radius: var(--radius-xs);
            justify-content: center;
            align-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            border: unset !important;
            background-color: var(--colors-base-white);
            color: var(--colors-base-white);
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        body.hgi-loaded &::after {
            opacity: 1;
        }

        &:checked::after {
            content: "䤈" !important;
            font-family: "hgi-stroke-rounded" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            opacity: 0;
            transition: opacity var(--nds-transition);
            display: inline-flex;
            width: var(--nds-input-size);
            height: var(--nds-input-size);
            font-size: 16px;
            line-height: var(--nds-input-size);
            font-weight: 600;
        }

        &.indeterminate:checked::after {
            content: "䗵" !important;
        }

        /* .nds-sm &:checked::after {
            width: 16px;
            height: 16px;
            font-size: 12px;
            line-height: 12px;
        }

        .nds-lg &:checked::after {
            width: 24px;
            height: 24px;
            font-size: 20px;
            line-height: 20px;
        } */

        /* &:checked:read-only::after{
            background-color: var(--colors-base-white)!important;

        } */


    }



    .nds-switch {
        --switch-width: 48px;
        --switch-height: 24px;
        --thumb-size: 18px;
        --thumb-left: 2px;

        .nds-sm & {
            --switch-width: 36px;
            --switch-height: 18px;
            --thumb-size: 12px;
            --thumb-left: 2px;
        }

        .nds-lg & {
            --switch-width: 56px;
            --switch-height: 28px;
            --thumb-size: 22px;
            --thumb-left: 2px;
        }

        position: relative;
        display: inline-block;
        width: var(--switch-width);
        height: var(--switch-height);
        user-select: none;

        &:not(:disabled)::before {
            content: '';
            position: absolute;
            width: calc(var(--switch-width));
            height: calc(var(--switch-height));
            bottom: 50%;
            left: 50%;
            border-radius: 9999px;
            transform: translate(-50%, 50%);
            background-color: var(--controls-control-ripple-effect);
            transition: width var(--nds-transition), height var(--nds-transition);
            z-index: 1;
            pointer-events: none;
            user-select: none;
        }

        &:not(:disabled):hover::before {
            width: calc(var(--switch-width) + var(--spacing-lg));
            height: calc(var(--switch-height) + var(--spacing-lg));
        }

        .nds-switch-input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            margin: 0;

            &:not(:disabled) {
                cursor: pointer;
            }

            &:focus+.nds-switch-track {
                outline: 2px solid var(--colors-base-black);
                outline-offset: 2px;
            }
        }

        .nds-switch-track {
            position: absolute;
            inset: 0;
            cursor: pointer;
            background-color: var(--background-white);
            border-radius: 9999px;
            border: 1px solid var(--controls-control-neutral-checked);
            z-index: 2;


            .nds-switch-thumb {
                position: absolute;
                top: 50%;
                left: var(--thumb-left);
                width: var(--thumb-size);
                height: var(--thumb-size);
                background-color: var(--controls-control-neutral-checked);
                border-radius: 9999px;
                transform: translate(0px, -50%);
                box-shadow: var(--shadow-sm);
                transition: all 0.1s ease;
            }

            &:hover:not([disabled]) {
                border-color: var(--controls-control-hovered, #5A6169);

                .nds-switch-thumb {
                    background-color: var(--controls-control-hovered, #5A6169);
                }
            }

        }

        .nds-switch-input:checked+.nds-switch-track {
            background-color: var(--controls-control-neutral-checked, #0D121C);
            border-color: var(--controls-control-neutral-checked, #0D121C);

            &:hover:not([disabled]) {
                background-color: var(--controls-control-neutral-hovered);
                border-color: var(--controls-control-neutral-hovered);
            }

            .nds-switch-thumb {
                background-color: var(--colors-base-white);
                left: unset;
                right: var(--thumb-left);
            }
        }

        &.primary .nds-switch-input:checked+.nds-switch-track {
            background-color: var(--controls-control-primary-checked);
            border-color: var(--controls-control-primary-checked);

            &:hover:not([disabled]) {
                background-color: var(--controls-control-primary-hovered);
                border-color: var(--controls-control-primary-hovered);
            }
        }

        .nds-switch-input:disabled+.nds-switch-track,
        &.disabled .nds-switch-track {
            opacity: 0.5;
            cursor: not-allowed;

            .nds-switch-thumb {
                cursor: not-allowed;
            }
        }
    }

    &.active .nds-switch-thumb {
        width: calc(var(--thumb-size) + 6px) !important;
    }
}

.nds-switch-group {
    row-gap: var(--spacing-xl);
    column-gap: var(--spacing-6xl);
    display: flex;
    flex-direction: column;

    &.rowView {
        flex-direction: row;
    }
}

.voiceInput.listening>i {
    animation: colorCycle 1s linear infinite alternate;
}

.toggle-password.show i::before {
    content: "㿦";
}


.nds-search-box {
    display: flex;
    gap: var(--spacing-lg);
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    padding: var(--spacing-lg);
    align-items: flex-start;
    flex-direction: column;

    .nds-search-content {
        display: flex;
        gap: var(--spacing-lg);
        width: 100%;
    }

    .nds-dropdown-title {
        font-size: var(--nds-text-clamp-lg-FS);
        line-height: var(--nds-text-clamp-lg-LH);
        color: var(--text-primary);
        font-weight: 500;
    }
}

.nds-file-upload {

    &.dropBox {
        .nds-form-control {
            flex-direction: column;
            min-height: 120px;
            height: auto;
            padding: var(--spacing-3xl);
            border: 2px dashed var(--border-neutral-primary) !important;
            border-radius: var(--radius-sm);
            background-color: var(--background-neutral-100);
            box-shadow: unset;


            .upload-zone {
                display: flex;
            }

            .upload-actions {
                display: flex;
                justify-content: center;
                margin-top: var(--spacing-md);
                padding-top: var(--spacing-md);
            }

            &.drag-over {
                border-color: var(--border-success) !important;
                background-color: var(--background-success-25);
                color: var(--text-success);

                .upload-icon {
                    color: var(--icon-success);
                }

                .upload-text,
                .upload-hint {
                    color: var(--text-success);
                }

                .browse-btn {
                    color: var(--text-default-disabled);
                }
            }
        }
    }

    &:not(.dropBox) {
        .nds-form-control {
            .upload-zone {
                display: none;
            }

            .upload-actions {
                display: flex;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
                border: none;
            }
        }

        .dropFileHint {
            display: none;
        }
    }

    .nds-form-control {
        position: relative;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background: transparent;

        &::before,
        &::after {
            display: none;
        }


        &.disabled {

            background-color: unset !important;

            & * {
                color: var(--text-default-disabled) !important;
            }
        }

    }


    .upload-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: var(--spacing-3xl);
        min-height: 80px;

        .upload-icon {
            color: var(--text-default);
            font-size: 40px;
            line-height: 40px;
        }

        .upload-text {
            color: var(--text-display);
            font-size: var(--nds-text-md-FS);
            line-height: var(--nds-text-md-LH);
            font-weight: 500;

            .upload-action {
                color: var(--button-background-primary-default);
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    color: var(--button-background-primary-hovered);
                }
            }
        }

        .upload-hint {
            color: var(--text-primary-paragraph);
            font-size: var(--nds-text-sm-FS);
            line-height: var(--nds-text-sm-LH);
        }
    }

    input[type="file"] {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        top: 0;
        left: 0;
    }

    .file-list {
        margin-top: var(--spacing-xl);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        &:empty {
            display: none;
        }
    }

    .file-item {
        display: flex;
        align-items: flex-start;
        padding: var(--spacing-md);
        border: 1px solid var(--border-neutral-primary);
        border-radius: var(--radius-sm);
        background-color: var(--background-neutral-100);
        gap: var(--spacing-md);
        min-height: 36px;

        .file-icon {
            font-size: 16px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            background-color: var(--background-primary);
            border-radius: 50%;
            color: var(--background-white);
            text-align: center;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        &.error .file-icon {
            background-color: var(--icon-error);

            &::before {
                content: "!";
                font-family: sans-serif;
            }
        }

        .file-info {
            flex: 1;
            display: flex;
            flex-direction: column;

            .file-name {
                color: var(--text-default);
                font-size: var(--nds-text-sm-FS);
                line-height: var(--nds-text-sm-LH);
                font-weight: 500;
                min-height: 24px;
                display: flex;
                align-items: center;
            }

            .file-details {
                display: flex;
                align-items: flex-start;
                gap: var(--spacing-sm);
                font-size: var(--nds-text-xs-FS);
                line-height: var(--nds-text-xs-LH);
                color: var(--text-default-disabled);
                display: none;

                .file-size {
                    &::after {
                        content: "•";
                        margin: 0 var(--spacing-xs);
                    }
                }
            }
        }

        .file-actions {
            display: flex;
            gap: var(--spacing-xs);

            .nds-btn {
                --nds-height: 24px;
                --nds-width: 24px;
            }

        }

        &.uploading {

            .progress-circle {
                @include progress-circle($size: 24px,
                    $style: 'primary',
                    $rotate: -90deg,
                    $show-text: false,
                    $show-symbol: false,
                    $percent: 0);
            }
        }

        &.processing {

            animation: processing 1.5s ease-in-out infinite;

            .progress-circle {
                @include progress-circle($size: 24px,
                    $style: 'primary',
                    $rotate: -90deg,
                    $show-text: false,
                    $show-symbol: false,
                    $percent: 100);

                /* animation: processing-spin 1s linear infinite; */
                .progress-info {
                    /* display: none; */
                }
            }

        }

        // Error state styling
        &.error {

            border-color: var(--border-error);
            /* background-color: var(--background-error-25); */

            .file-icon.error {
                color: var(--icon-error);
            }

            .file-error {
                display: flex;
                align-items: center;
                gap: var(--spacing-xs);
                color: var(--text-error);
                font-size: var(--nds-text-sm-FS);
                font-weight: 500;
            }
        }
    }

    &.single-file {
        .file-list {
            max-height: none;
        }

        .file-item:not(:first-child) {
            display: none;
        }
    }

}

// Date Picker Styles
.nds-date-picker {
    position: relative;

    // Arrow styling for date picker input (same as select)
    .nds-form-control {

        &>input,
        &>i {
            cursor: pointer;
        }

        body.hgi-loaded &::after {
            opacity: 1;
        }

        &::after {
            content: "㭚";
            pointer-events: none;
            font-family: "hgi-stroke-rounded" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            left: var(--spacing-md);
            opacity: 0;
            transition: opacity var(--nds-transition), transform 0.1s ease;
            display: inline-flex;
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
            justify-content: center;
            align-content: center;
            align-items: center;

            @include ltr {
                & {
                    left: unset;
                    right: var(--spacing-md);
                }
            }
        }

        &.open::after {
            transform: rotate(180deg);
        }
    }

    .nds-date-picker-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 3;
        margin-top: 4px;
        padding: 0;
        max-width: 500px;
        min-width: 350px;
        width: 100%;
        background-color: var(--background-white, #fff);
        border: 1px solid var(--colors-neutral-300, #d2d6db);
        border-radius: var(--radius-md, 8px);
        box-shadow: var(--shadow-md);

        &.hidden {
            display: none;
        }

        @include mobile {
            right: 50%;
            transform: translateX(50%);

            @include ltr {
                right: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-md);
        border-bottom: 1px solid var(--colors-neutral-300, #d2d6db);
    }

    .calendar-title {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .month-year-selectors {
        display: flex;
    }

    .calendar-month-switch {
        display: flex;

        @include ltr {
            flex-direction: row-reverse;
        }
    }

    .month-dropdown-wrapper,
    .year-dropdown-wrapper {
        position: relative;
        display: inline-block;

        & .month-dropdown-btn {
            .label {
                @include mobile {
                    max-width: 100px;
                    overflow: clip;
                    text-overflow: ellipsis;
                }
            }
        }

    }

    .month-dropdown-menu,
    .year-dropdown-menu {
        display: none;
        position: absolute;
        z-index: 999;
        right: 0;
        margin-top: 4px;
        padding: var(--spacing-md);
        background-color: var(--background-white, #fff);
        border: 1px solid var(--colors-neutral-300);
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-md);
        flex-direction: column;
        gap: var(--spacing-xs);
        max-height: 200px;
        overflow-y: auto;
        scroll-behavior: auto;
        overscroll-behavior: contain;

        &:not(.hidden) {
            display: flex;
        }
    }

    .month-dropdown-menu,
    .year-dropdown-menu {
        @include ltr {
            left: 0;
            right: unset;
        }
    }

    .calendar-body {
        padding: var(--spacing-md);

    }

    .calendar-weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 4px;
        margin-bottom: 8px;

        .weekday {
            text-align: center;
            font-size: var(--nds-text-md-FS);
            font-weight: 400;
            color: var(--text-primary-paragraph);
            padding: var(--spacing-md) var(--spacing-xs);
            min-width: 40px;

            @include mobile {
                font-size: var(--nds-text-sm-FS);
            }
        }
    }

    .calendar-dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 4px;
        justify-items: center;
        overflow: hidden;

        .date-cell {
            border-radius: 50% !important;
            width: 40px;
            height: 40px;
            font-weight: 400;
            padding: 0;

            .label {
                text-align: center;
            }

            &::before {
                display: none;
                content: "";
                position: absolute;
                background-color: var(--form-datecell-background-100);
                width: 40px;
                height: 40px;
                z-index: -1;
            }

            &.other-month {
                color: var(--text-default-disabled);
            }

            &.today {
                background-color: unset;
                border: 2px solid var(--button-background-primary-default);
                color: var(--text-primary);
                font-weight: 700;

                &.selected {
                    outline: 2px solid var(--button-background-primary-default);
                    outline-offset: -2px !important;
                    box-shadow: inset 0 0 0 2px var(--colors-base-white);
                }

                &.selected:hover {
                    outline: 2px solid var(--button-background-primary-hover);
                }
            }

            &.selected {
                background-color: var(--button-background-primary-default);
                color: var(--text-oncolor-primary);


                &:hover {
                    background-color: var(--form-datecell-background-hovered);
                }
            }

            // Date range styles
            &.range-start,
            &.range-end {
                background-color: var(--form-datecell-background-default);
                color: var(--text-oncolor-primary);


                &.today {
                    outline: 2px solid var(--form-datecell-background-default);
                    outline-offset: -2px !important;

                    &:hover {
                        background-color: var(--form-datecell-background-hovered);
                        outline: 2px solid var(--form-datecell-background-hovered);
                    }
                }

                &:hover {
                    background-color: var(--form-datecell-background-hovered);
                }
            }

            &.range-start:not(.range-end).has-range-end {
                &::before {
                    display: block;
                    transform: scaleX(1) translateX(-50%);

                    @include ltr {
                        transform: scaleX(1) translateX(50%);
                    }
                }
            }

            &.range-end:not(.range-start).has-range-start {
                &::before {
                    content: "";
                    display: block;
                    transform: scaleX(1) translateX(50%);

                    @include ltr {
                        transform: scaleX(1) translateX(-50%);
                    }
                }
            }

            &.in-range:not(.range-start, .range-end) {
                background-color: var(--form-datecell-background-100);

                &::before {
                    content: "";
                    display: block;
                    transform: scaleX(2);
                }

                &:hover {
                    background-color: var(--form-datecell-background-200);
                }

                &:active {
                    background-color: var(--form-datecell-background-300);
                }
            }


        }
    }

    .calendar-footer {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-md);
        border-top: 1px solid var(--colors-neutral-300, #d2d6db);
        gap: var(--spacing-2xl);

        & .calendar-action-start,
        & .calendar-action-end {
            display: flex;
            gap: var(--spacing-md);
        }
    }
}