/* ========================================
   ONE ROW CONTENT COMPONENT
   ======================================== */

@use '../mixins' as *;
/* ========================================
   ONE ROW CONTENT BASE STYLES
   ======================================== */

.showMore {
    display: none !important;
}

.hasMore>.showMore {
    display: flex !important;
}

.oneRowContent {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    max-width: 100%;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    position: relative;
}

.oneRowContent>* {
    white-space: nowrap;
    width: fit-content;

    @include mobile {
        max-width: 85%;
    }
}

/* ========================================
   SHOW MORE BUTTON STYLES
   ======================================== */

.oneRowContent.hasMore>*.showMore {
    position: sticky;
    background-color: var(--nds-nav-background-color);
    z-index: 2;
    transition: opacity var(--nds-transition);
    transform: translateX(0);
}

.oneRowContent.hasMore>*.showMore {
    margin-inline-start: var(--spacing-md);
    /* box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.08); */
}

.oneRowContent.hasMore>*.showMore i {
    transition: transform 0.1s ease;
}

.oneRowContent.hasMore.atEnd>*.showMore i {
    transform: rotate(180deg);
}

/* ========================================
   LTR SUPPORT FOR ONE ROW CONTENT
   ======================================== */

.oneRowContent.hasMore>*.showMore {

    i {
        @include ltr {
            transform: rotate(180deg);
        }
    }
}

.oneRowContent.hasMore.atEnd>*.showMore i {
    @include ltr {
        transform: rotate(0deg) !important;
    }
}