/* ========================================
   SIDE MENU COMPONENT
   ======================================== */

@use '../mixins' as *;
/* ========================================
   SIDE MENU BASE STYLES
   ======================================== */

.nds-sideMenu {
    width: var(--nds-sideMenu-width);
    min-width: var(--nds-sideMenu-width);
    background-color: var(--background-white);
    box-shadow: var(--shadow-md);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    min-height: fit-content;
    z-index: 2;
}

.contentLayout.toEdge .nds-sideMenu,
.contentLayout.toEdge .nds-content-section {
    border-radius: 0 !important;
}

#sideMenuToggle {
    display: none;
}

/* ========================================
   NAVIGATION CONTAINER
   ======================================== */

/* Navigation Container */
.nds-sideMenu > nav {
    position: sticky;
    top: calc(var(--nds-nav-height) + var(--spacing-xl));
    width: 100%;
    max-height: calc(100svh - 100px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* ========================================
   LIST BASE STYLES
   ======================================== */

.nds-sideMenu ul li a {
    width: 100%;
    justify-content: start;
    color: var(--text-primary-paragraph);
}

.nds-sideMenu ul {
    & .open > a > .label{
        color: var(--text-default);
        filter: drop-shadow(0 0 0.02em currentColor);
    }
    
}

.nds-sideMenu .nds-btn-indicator {
    --button-indicator-size: 5px;
    @include btn-indicator('v');
}
/* ========================================
   PRIMARY MENU ITEMS
   ======================================== */

.nds-sideMenu > nav > .topLevel > li {
    border-bottom: 1px solid var(--border-background-white);
    &:last-child{
        border-bottom: unset;
    }
}

.nds-sideMenu > nav > .topLevel > li:last-child > a {
    border-bottom: none;
}

/* ========================================
   SUBMENU STYLES
   ======================================== */

.nds-sideMenu ul ul {
    margin: 0 var(--spacing-md);
    overflow: hidden;
    height: 0;
    transition: height var(--nds-transition);
    padding-right: var(--spacing-3xl);
}

html[dir="ltr"] .nds-sideMenu ul ul {
    padding-left: var(--spacing-3xl);
    padding-right: unset;
}

.nds-sideMenu ul .has-sub.open ul {
    height: auto;
}

.nds-sideMenu ul .has-sub:not(.open) ul {
    display: none;
}

.nds-sideMenu > nav > .topLevel > li.active > ul {
    display: block;
}

/* Submenu Items */
.nds-sideMenu .has-sub ul li {
    display: list-item !important;
    list-style: outside;
    color: var(--colors-neutral-400, #9DA4AE);
}

.nds-sideMenu .has-sub ul li:first-child {
    margin-top: var(--spacing-md);
}

.nds-sideMenu .has-sub ul li:last-child {
    margin-bottom: var(--spacing-md);
}

.nds-sideMenu .topLevel > li.has-sub li a {
    padding: var(--spacing-md) var(--spacing-sm);
    margin-right: calc(var(--spacing-xs) * -1);
}

html[dir="ltr"] .nds-sideMenu .topLevel > li.has-sub li a {
    margin-left: calc(var(--spacing-xs) * -1);
    margin-right: unset;
}


/* Nested Submenus */
.nds-sideMenu ul ul li.has-sub ul {
    margin: var(--spacing-md) var(--spacing-lg) 0 0;
    border-bottom: 0;
}

html[dir="ltr"] .nds-sideMenu ul ul li.has-sub ul {
    margin: var(--spacing-md) 0 0 var(--spacing-lg);
}

.nds-sideMenu ul ul li.has-sub {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: var(--spacing-md);
}

/* ========================================
   MENU ITEM STATES
   ======================================== */

.nds-sideMenu ul li.active a {
    color: var(--text-primary) !important;
    &::before{
        background-color: var(--background-primary)!important;
    }
}


/* ========================================
   MENU ITEM ICONS (::after)
   ======================================== */

.hgi-loaded .nds-sideMenu nav li.gridView > a:after,
.hgi-loaded .nds-sideMenu nav li.redirect.external > a:after {
    content: '㭫';
}

.hgi-loaded .nds-sideMenu nav li.redirect.external > a:after {
    content: "䊔";
}

.hgi-loaded .nds-sideMenu nav li.gridView > a:after {
    content: "䃺";
}

.hgi-loaded .nds-sideMenu .topLevel > li.gridView > a::after,
.hgi-loaded .nds-sideMenu .topLevel > li.redirect.external > a::after {
    content: '㭫';
}

.hgi-loaded .nds-sideMenu .topLevel > li.redirect.external > a::after {
    content: "䊔";
}

.hgi-loaded .nds-sideMenu .topLevel > li.gridView > a::after {
    content: "䃺";
}


/* ========================================
   TABLET AND MOBILE STYLES (959.98px and below)
   ======================================== */

@include tablet(max) {
    .nds-sideMenu {
        position: absolute;
        z-index: 10;
        height: 100%;
        border-radius: 0;
        border-top: 0;
        border-bottom: 0;
        transform: translateX(calc(100%));
        transition: transform var(--nds-transition);
    }

    .nds-sideMenu.open {
        transform: translateX(0px) !important;
    }

    .nds-sideMenu > nav {
        margin-top: -40px !important;
    }

    /* Side Menu Toggle Button */
    #sideMenuToggle {
        width: 40px;
        height: 40px;
        background-color: var(--button-background-primary-default);
        border: unset;
        outline: none;
        border-radius: var(--radius-sm) 0 0 var(--radius-sm);
        position: sticky;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 40vh;
        transform: translateX(calc((var(--nds-sideMenu-width) - var(--spacing-md)) * -1));
        box-shadow: var(--shadow-md);
    }

    #sideMenuToggle.draggable {
        background-color: var(--button-background-black-default);
    }

    .hgi-loaded #sideMenuToggle::after {
        content: "䍛";
        font-family: "hgi-stroke-rounded" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.5rem;
        color: var(--text-oncolor-primary);
        transition: all 0.05s ease;
        transform: scale(-1);
        font-weight: 600;
    }

    @include ltr {
        .hgi-loaded #sideMenuToggle::after {
            transform: scale(1);
        }
    }

    .hgi-loaded #sideMenuToggle.draggable::after {
        content: "㮌";
    }

    /* LTR Support */
    html[dir="ltr"] .nds-sideMenu {
        transform: translateX(-100%);
    }

    html[dir="ltr"] #sideMenuToggle {
        right: unset;
        left: 0;
        transform: translateX(calc(var(--nds-sideMenu-width) - var(--spacing-md)));
        border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    }

    html[dir="ltr"] .hgi-loaded #sideMenuToggle::after {
        content: "䍛";
        transform: scale(1);
    }

    html[dir="ltr"] .nds-sideMenu .has-sub ul {
        margin: var(--spacing-md) 0px 0 28px;
        padding-right: 0;
        padding-left: 24px;
    }

    html[dir="ltr"] .nds-sideMenu > nav > .topLevel > li > a:before {
        right: unset;
        left: 0;
    }

    html[dir="ltr"] .nds-sideMenu nav li.has-sub > a:after {
        right: 7px;
        left: unset;
    }

    html[dir="ltr"] .nds-sideMenu nav > .topLevel > li.has-sub.open > a:after {
        transform: rotate(180deg);
    }

    html[dir="ltr"] .nds-sideMenu .topLevel > li.has-sub li a {
        margin-left: 0;
        margin-left: -4px;
    }

    html[dir="ltr"] .nds-sideMenu .topLevel > li.redirect.external > a::after {
        transform: scale(-1);
    }
}