<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<main class="wp-site-main">
	<!-- wp:pattern {"slug":"nds/hero-sub"} /-->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-featured-image /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
		<!-- wp:template-part {"slug":"post-meta"} /-->
	</div>
	<!-- /wp:group -->
</main>

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
