<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include head.html %}
<body class="toEdgex">
    {% include topbar.html %}
    {% include header.html %}
    
    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}
    
    <!-- Scripts -->
    <script>
        window.ndsBasePath = '{{ "" | relative_url }}';
    </script>
    <script defer src="{{ '/assets/js/nds-navController.js' | relative_url }}?ver=1.044"></script>
    <script defer src="{{ '/assets/js/nds-extras.js' | relative_url }}?ver=1.044"></script>
    <script defer src="{{ '/assets/js/nds-tabs.js' | relative_url }}?ver=1.000"></script>
    <script defer src="{{ '/assets/js/nds-accordion.js' | relative_url }}?ver=1.000"></script>
    <script defer src="{{ '/assets/js/nds-showcase.js' | relative_url }}?ver=1.000"></script>
    <script defer src="{{ '/assets/js/simple-language-switcher.js' | relative_url }}?ver=1.000"></script>
</body>
</html>