<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}" dir="{{ page.direction | default: 'ltr' }}">
{%- include head.html %}
<body class="nds-minimal {{ page.body_class }}"{% if page.hero_image %} style="--bg-img: url('{{ page.hero_image | relative_url }}');{% if page.bg_opacity_top %} --bg-opacity-top: {{ page.bg_opacity_top }};{% endif %}{% if page.bg_opacity_bottom %} --bg-opacity-bottom: {{ page.bg_opacity_bottom }};{% endif %}"{% endif %}>
    <main>
        <div class="nds-content-layout nds-content-wrapper {{ page.layout_class }}">
            <div class="nds-main-content">
                {{ content }}
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script defer src="{{ 'assets/js/nds-main.min.js' | relative_url }}?ver=1.113"></script>
    {%- unless page.exclude_showcase == true %}
    <script defer src="{{ 'assets/js/nds-showcase.min.js' | relative_url }}?ver=1.018"></script>
    {%- endunless %}
    {%- if page.custom_js %}
    {%- for js_file in page.custom_js %}
    <script defer src="{{ js_file | relative_url }}"></script>
    {%- endfor %}
    {%- endif %}
</body>
</html>
