<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}" dir="{{ page.direction | default: 'ltr' }}">
{% include head.html %}
{%- assign page_bg = page.page_bg | default: page.hero_image %}
<body class="{{ page.body_class }}{% if page_bg %} nds-page-bg{% endif %}"{% if page_bg %} style="--bg-img: url('{{ page_bg | relative_url }}'); --bg-opacity-top: {{ page.bg_opacity_top | default: '80%' }}; --bg-opacity-bottom: {{ page.bg_opacity_bottom | default: '80%' }};"{% endif %}>
    <main>
        <div class="nds-content-layout nds-content-wrapper {{ page.layout_class }}">
            <div class="nds-main-content">
                {{ content }}
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script defer src="{{ 'assets/js/nds-main.min.js' | relative_url }}?ver={{ site.asset_ver }}"></script>
    {%- unless page.exclude_showcase == true %}
    <script defer src="{{ 'assets/js/nds-showcase.min.js' | relative_url }}?ver={{ site.asset_ver }}"></script>
    {%- endunless %}
    {%- if page.custom_js %}
    {%- for js_file in page.custom_js %}
    <script defer src="{{ js_file | relative_url }}"></script>
    {%- endfor %}
    {%- endif %}
</body>
</html>
