@use '../mixins' as *;

/* ── Block: content grouping primitive ── */

.nds-block {
    container-type: inline-size;
    container-name: block;
    width: 100%;

    margin-block-end: 2rem;

    &:last-child {
        margin-block-end: 0;
    }

    p {
        color: var(--text-primary-paragraph);
        text-wrap: pretty;
    }

    &>img {
        max-width: 80%;
        margin: auto;
        display: block;

        @include tablet(max) {
            max-width: 100%;
        }
    }

    &>video {
        max-height: 60vh;
        width: auto;
        margin: auto;
        display: block;
    }
}

.nds-block-title {
    --_block-title-FS: var(--block-title-FS, var(--typo-text-xl-FS));
    --_block-title-LH: var(--block-title-LH, var(--typo-text-xl-LH));
    --_block-title-FW: var(--block-title-FW, 600);
    --_block-title-MB: var(--block-title-MB, var(--spacing-lg));
    --_block-title-color: var(--block-title-color, var(--text-display));

    font-size: var(--_block-title-FS);
    line-height: var(--_block-title-LH);
    font-weight: var(--_block-title-FW);
    color: var(--_block-title-color);
    margin-block-end: 0.5rem;

    &:last-child {
        margin-block-end: 0;
    }
}
