@use '../mixins' as *;

/* ── Section visual tokens ── */

:is(.nds-hero-section, .nds-content-section) {
    --_section-bg: var(--section-bg, var(--background-default));
    --_section-shadow: var(--section-shadow, none);
    --_section-border: var(--section-border, none);
    --_section-border-radius: var(--section-border-radius, 0);

    --_section-title-color: var(--section-title-color, var(--text-display));
    --_section-subtitle-color: var(--section-subtitle-color, var(--text-secondary-paragraph));
    --_section-description-color: var(--section-description-color, var(--text-default));
    --_section-text-color: var(--section-text-color, inherit);

    background-color: var(--_section-bg);
    box-shadow: var(--_section-shadow);
    border: var(--_section-border);
    border-radius: var(--_section-border-radius);
    color: var(--_section-text-color);

    &:is(.nds-primary, .nds-green, .nds-gradient-green, .nds-neutral) {
        --section-title-color: var(--text-oncolor-primary);
        --section-subtitle-color: var(--text-oncolor-secondary);
        --section-description-color: var(--text-oncolor-secondary);
        --section-text-color: var(--text-oncolor-secondary);
    }

    &:is(.nds-primary, .nds-green) {
        --section-bg: var(--colors-green-900);
    }

    &.nds-gradient-green {
        --_gradient-angle: var(--gradient-angle, -45deg);
        --section-bg: var(--colors-green-900);
        background: linear-gradient(var(--_gradient-angle), var(--colors-primary-sa-flag-900), var(--colors-primary-sa-flag-600));

        @include ltr {
            --gradient-angle: 45deg;
        }
    }

    &.nds-neutral {
        --section-bg: var(--colors-neutral-900);
    }

    &.nds-brand {
        --section-shadow: var(--shadow-inset);
        --section-bg: var(--background-brand-light);
        --section-title-color: var(--text-display);
        --section-subtitle-color: var(--text-default);
        --section-description-color: var(--text-default);
        --section-text-color: var(--text-default);

        @include dark {
            --section-bg: var(--alpha-primary-10);
        }
    }

    &:is(.nds-ghost, .nds-noBg) {
        @include reset-section-style( !important);
    }
}

/* ── Section title polish ── */

.nds-section-title {
    letter-spacing: -0.02rem;
    font-weight: bold;
    color: var(--_section-title-color);
}

/* ── Section subtitle + description polish ── */

.nds-section-subtitle {
    font-weight: 500;
    letter-spacing: -0.01rem;
    color: var(--_section-subtitle-color);
}

.nds-section-description {
    color: var(--_section-description-color);
}

.nds-section-brief {
    font-size: var(--nds-text-lg-FS);
    line-height: var(--nds-text-lg-LH);
    font-weight: 600;
    margin-bottom: 1rem;
}

/* ── Section body content formatting ── */

.nds-section-body {

    margin-block-end: 2rem;

    &:last-child {
        margin-block-end: 0;
    }

    & :not(nav, .nds-scroll-more, .nds-drawer, .nds-drawer-list li)>ul,
    & :not(nav, .nds-scroll-more, .nds-drawer, .nds-drawer-list li)>ol {

        &.nds-divided li {
            border-bottom: 1px solid var(--divider-color);
        }

        li {
            padding-block: var(--spacing-md);

            &:first-child {
                padding-block-start: 0;
            }

            &:last-child {
                padding-block-end: 0;
                border-bottom: none;
            }
        }
    }

    :is(p, ul, ol, .nds-table-wrapper, .nds-table, .nds-tabs, .nds-code, .nds-definition-list):not(.nds-scroll-more-content) {
        margin-block-end: 1rem;

        &:is(:last-child, :has(+ .nds-divider), :has(+ hr)) {
            margin-block-end: 0;
        }
    }
}

